@import "./config";
@import "bootstrap/scss/bootstrap";

.navbar {
  &-light &-nav .nav-link {
    color: map-get($theme-colors, "dark");
    transition: color 150ms ease-out;
  }

  &-light .nav-link-icon {
    transition: color 150ms ease-out;
    cursor: pointer;

    &:hover,
    &:active {
      opacity: 0.5;
    }
  }

  &-light &-nav .nav-link:hover,
  &-light &-nav .nav-link:focus {
    color: map-get($theme-colors, "primary-light");
  }

  &-toggler:focus {
    outline-color: map-get($grays, "200");
  }
}

.hero {
  margin-top: 70px; // navbar height

  .carousel {
    background: map-get($theme-colors, "primary");

    &-item {
      height: calc(100vh - 70px); // 100vh - navbar height
      .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h3 {
          font-size: 3rem;
          width: 50%;
        }

        p {
          width: 25%;
        }

        .floating-image {
          position: absolute;
          top: 0;
          right: 0;
          max-height: 90%;
          min-width: 50%;
          width: fit-content;
        }
      }
    }

    &-indicators {
      li {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        border: 0;
        opacity: 1;

        &.active {
          height: 8px;
          width: 8px;
          border: 2px solid white;
          background: map-get($theme-colors, "primary");
        }
      }
    }
  }

  img {
    max-height: 400px;
  }
}

.company {
  &-wrapper {
    border: 2px solid map-get($theme-colors, "primary");
    background: map-get($theme-colors, "primary");
  }

  &-box {
    padding: 3rem 2.875rem;
    background: white;
    border: 1px solid map-get($theme-colors, "primary");
  }

  .box {
    &-pattern {
      background-image:
        linear-gradient(
          135deg,
          #fff 43.75%,
          map-get($theme-colors, "primary") 43.75%,
          map-get($theme-colors, "primary") 50%,
          #fff 50%,
          #fff 93.75%,
          map-get($theme-colors, "primary") 93.75%,
          map-get($theme-colors, "primary") 100%
        );
      background-size: 22.63px 22.63px;
    }

    &-shapes {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2rem;

      &:hover {
        img {
          transform: rotate(360deg);

          &:nth-child(2) {
            transform: rotate(-360deg);
          }
        }
      }

      img {
        transition: all 2s ease-in-out;
        width: 45px;
        margin: 0 1rem;
      }
    }
  }
}

.services {
  .separator {
    width: 40px;
    height: 6px;
    background: white;
  }

  .service-icon {
    transition: all 400ms ease-in-out;

    &:hover {
      transform: scale(1.1);
    }

    @media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
      width: 100px;
    }
  }
}

.gallery {
  .carousel {
    &-item {
      display: flex;
      height: 500px;

      &-col {
        display: flex;
        position: relative;
        flex: 1 0 0%;
        animation-name: hoverOutGalleryShadow;
        animation-duration: 400ms;
        animation-iteration-count: 1;
        animation-timing-function: ease-in-out;
        transition: flex 400ms ease-in-out;

        &:hover {
          flex: 3 0 0%;
          animation-name: hoverGalleryShadow;
          animation-duration: 400ms;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;
          animation-delay: 200ms;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &-control {
      &-prev,
      &-next {
        width: 5%;
      }
    }
  }
}

@keyframes hoverGalleryShadow {
  0% {
    z-index: 2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }

  100% {
    z-index: 2;
    box-shadow: 0 25px 110px 5px rgba(0, 0, 0, 1);
  }
}

@keyframes hoverOutGalleryShadow {
  0% {
    z-index: 2;
    box-shadow: 0 25px 110px 5px rgba(0, 0, 0, 1);
  }

  100% {
    z-index: 2;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  }
}

.products {
  hr {
    border-color: map-get($theme-colors, "primary");
    border-top-width: 3px;
  }

  .separator {
    width: 60%;
    height: 1rem;
    background: map-get($theme-colors, "primary-light");
  }

  .collapse-button {
    font-size: 2.25rem;
    font-family: $headings-font-family;
    text-transform: uppercase;
    color: map-get($theme-colors, "primary");
    transition: all 300ms ease;

    &:hover,
    &:active,
    &:not(.collapsed) {
      color: map-get($theme-colors, "primary-light");
      position: relative;
      text-decoration: none;

      &::after,
      &::before {
        content: url("../images/black-rightwards-arrowhead.svg");
        position: absolute;
        width: 24px;
      }

      &::after {
        top: 45%;
        right: -4rem;
        transform: translate(50%, -50%) rotate(180deg);
      }

      &::before {
        top: 50%;
        left: -4rem;
        transform: translate(-50%, -50%);
      }
    }
  }

  .collapse {
    transition: height 350ms ease-in-out, opacity 250ms ease-in-out;
  }

  .collapsing {
    opacity: 0;
  }

  .table {
    &-wrapper {
      padding: 0 15px;
      border: 1px solid map-get($theme-colors, "primary");
    }

    &-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.625rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.2;
      text-align: center;
      color: map-get($theme-colors, "primary-light");
      border: 1px solid map-get($theme-colors, "primary");
    }
  }

  .cell-pattern {
    background-image:
      linear-gradient(
        135deg,
        #fff 43.75%,
        map-get($theme-colors, "primary") 43.75%,
        map-get($theme-colors, "primary") 50%,
        #fff 50%,
        #fff 93.75%,
        map-get($theme-colors, "primary") 93.75%,
        map-get($theme-colors, "primary") 100%
      );
    background-size: 16px 16px;
  }
}

.clients {
  background: map-get($grays, "200");

  small {
    color: map-get($grays, "600");
  }

  img {
    height: 115px;
  }
}

.contact {
  .social-media-icon {
    transition: all 300ms ease-in-out;

    &:hover,
    &:active {
      opacity: 0.75;
      transform: translate(0, -0.25rem);
    }
  }

  form {
    .field {
      display: flex;
      flex-direction: column;
    }

    label,
    input,
    textarea {
      transition: all 0.2s;
      touch-action: manipulation;

      & + .invalid-feedback,
      & + .success-feedback {
        line-height: 0.25;
        margin-top: 0.5rem;
        order: 3;
      }
    }

    input,
    textarea {
      &:placeholder-shown + label {
        cursor: text;
        max-width: 66.66%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transform-origin: left bottom;
        transform: translate(0, 2rem) scale(1.25);
      }

      &:focus::-webkit-input-placeholder {
        opacity: 1;
      }

      &:not(:placeholder-shown) + label,
      &:focus + label {
        transform: translate(0, 0) scale(1) !important;
        cursor: pointer;
      }
    }

    input {
      border: 0;
      border-bottom: 2px solid map-get($theme-colors, "primary");
      -webkit-appearance: none;
      border-radius: 0;
      cursor: text;
      padding-left: 0;
      padding-right: 0;
      order: 2;

      &:focus {
        outline: 0;
        box-shadow: none !important;
        border-bottom: 1px solid map-get($grays, "600");
      }
    }

    label {
      font-size: 0.8rem;
      color: map-get($theme-colors, "primary");
      margin: 0;
      order: 1;
    }

    textarea {
      border: 2px solid map-get($theme-colors, "primary");
      order: 2;

      &:focus {
        border: 1px solid map-get($grays, "600");
        box-shadow: none !important;
      }

      & + label {
        padding-left: 0.5rem;
        margin-bottom: 0.5rem;
      }

      &:not(:placeholder-shown) + label,
      &:focus + label {
        padding-left: 0;
      }

      &:placeholder-shown + label {
        transform: translate(0, 2.5rem) scale(1.25);
      }
    }

    ::-webkit-input-placeholder {
      opacity: 0;
      transition: inherit;
    }

    &.was-validated .form-control:valid,
    .form-control.is-valid {
      border-color: map-get($theme-colors, "primary");
    }
  }
}

@media screen and (max-width: 1024px) {
  .hero {
    .carousel {
      &-item {
        h3 {
          font-size: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    .carousel {
      &-item {
        .container {
          h3 {
            font-size: 3rem;
          }

          p {
            width: 50%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 504px) {
  .company {
    .box-shapes {
      flex-direction: row;

      img {
        margin: 0 0.5rem;
        width: 0;
        flex: 1 1 0%;
      }
    }
  }
}
